/* CSS CUSTOM PROPS */
:root {
    --nav-collapse-bg: rgba(221, 221, 221, 0.85);
    --sub-heading-text: rgba(85, 117, 113, 1);
    --pink-bg: rgba(232, 222, 210, 1);
    --green-bg: rgba(148, 180, 164, 1);
    --playfair: 'Playfair Display', serif;
    --sans-serif: 'Montserrat', sans-serif;
    --dark-grey: rgb(55, 56, 55);

}

/* GLOBAL RESET */
body {
    margin: 0;
    font-family: var(--sans-serif);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* UTILITY CLASSES */
.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


section {
    min-height: 100vh;
    display: flex;
}

.section-content {
    width: 98%;
    height: auto;
    text-align: center;
    gap: 2rem;
    padding: 2rem;
    margin: 0 auto;
}

.pink-bg {
    background-color: var(--pink-bg);
}

.green-bg {
    background-color: var(--green-bg);
}

.section-heading {
    font-family: var(--playfair);
    margin-bottom: 0;
    padding-top: 2rem;
    color: var(--dark-grey);
}

h5 {
    font-weight: bold;
}

/* NAVBAR STYLES */
.navbar {
    width: 25vw;
}
.navbar-collapse {
    background: var(--nav-collapse-bg);
}
.nav-link {
    font-family: var(--playfair), serif;
    text-align: center;
    color: black !important;
}
.nav-link:hover {
    opacity: 0.7 !important;
}

/* LANDING PAGE STYLES */
.main-heading {
    text-align: center;
    color: #557571;
    font-family: var(--playfair), serif;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
}
.main-heading:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 37%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid lightgray; /* This creates the border. Replace black with whatever color you want. */
}
.showcase {
    height: 100vh;
    width: 100%;
    background-image: url("images/landingImg.jpg");
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(0px);
    -webkit-animation: fadein linear 1.5s;
}
@-webkit-keyframes fadein {
    0% {
        -webkit-filter: blur(3x);
    }
    28% {
        -webkit-filter: blur(3px);
    }
    56% {
        -webkit-filter: blur(3px);
    }
    100% {
        -webkit-filter: blur(0px);
    }
}

.sub-heading {
    text-align: center;
    color: var(--sub-heading-text);
    font-family: var(--playfair), serif;
    margin: 0.5rem 0;
}

#landing-page .showcase {
    padding: 0;
}


/* WELCOME SECTION STYLES */
#welcome {
    height: 70vh;
    width: 70vw;
    margin: 0 auto;
    text-align: center;
}

#welcome h4,
#welcome p {
    padding: 2rem;
}

#welcome h4 {
    font-family: var(--playfair);
}



/* OUR STORY STYLES */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3%;
    height: auto;
}

.grid-child-3 {
    grid-row: 1 / 3;
}
.grid-child-4 {
    grid-row: 2 / 4;
}

#our-story figure {
    padding: 0;
    position: relative;
    display: flex;
    max-height: 520px;
    max-width: 350px;
}

#our-story figcaption {
    background-color: #001219;
    color: white;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0.6;
}

.gallery-image {
    width: 100%;
    height: 100%;
}

figcaption h4 {
    font-size: 1rem;
    color: var(--pink-bg)
}

#our-story p {
    padding: 0 3rem;
}

.photo-credit {
    margin-bottom: 3rem;
}

/* SCHEDULE STYLES */

#schedule .section-content {
    align-items: center;
    justify-content: center;
}
#schedule .schedule-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.schedule-item {
    height: 350px;
    width: 220px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
    background: rgb(217,214,210);
    background: linear-gradient(159deg, rgba(217,214,210,1) 0%, rgba(233,233,233,1) 80%);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.schedule-item h3 {
    font-weight: bold;
    font-family: var(--playfair);
}

.schedule-item h4 {
    font-size: 1rem;
}

.schedule-item img {
    padding: 10px 5px;

}

.schedule-item img:hover {
    transform: translateY(-5px);
}

.schedule-item img {
    height: 85px;
    width: 85px;
}



/* VENUE INFO STYLES */
#venue .flex-row div {
    padding: 2rem;
}

.align-content-top {
    align-items: flex-start;
}

#venue address {
    font-size: 1.3rem;
    text-align: left;
}

.venue-text {
    text-align: left;
}

#venue h5 {
    margin: 2.5rem 0 1rem 0;
}

/* ACCOMMODATION STYLES */
#accommodation .flex-col {
    justify-content: space-around;
    align-items: center;
}

.accomm-img {
    height: 80px;
    width: 80px;
    margin: 2rem 0;
}

#accommodation .section-content {
    margin: 0 auto;
    width: 70%;
}

#accommodation .section-heading {
    margin-bottom: 3rem;
}


/* EXPLORE IOWA STYLES */
#explore .flex-row div {
    padding: 2rem;
}

.explore-img {
    width: 600px;
    border-radius: 4px;
}


/* THINGS TO DO */
.todo-cards {
    display: flex;
    flex-direction: column;
    gap: 4%;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
    margin-bottom: 2rem;
}

.todos {
    height: auto;
    max-width: 90%;
    min-width: 80%;
    padding: 40px;
    margin: 1.8rem 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.in-iowa {
    background: rgb(227,227,227);
    background: linear-gradient(167deg, rgba(227,227,227,1) 0%, rgba(251,247,247,1) 100%);
}

.further-afield {
    background: rgb(155,189,172);
    background: linear-gradient(167deg, rgba(155,189,172,1) 0%, rgba(254,247,247,1) 100%);
}

.even-further-afield {
    background: rgb(232,222,210);
    background: linear-gradient(167deg, rgba(232,222,210,1) 0%, rgba(254,247,247,1) 100%);
}

.todos h5 {
    padding: 1.2rem;
}


#things-to-do ul {
    text-align: left;
}

#things-to-do li {
    list-style-type: none;
    padding: .8rem;
}

#things-to-do li::marker {
    content: "🖤";
}

.ul-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


/* FAQ STYLES */
#faq li {
    padding: 1rem;
    list-style-type: none;
}

#faq ul {
    margin-top: 2rem;
}

#faq .section-content {
    margin: 0 auto;
    width: 70%;
}



/* RSVP STYLES */
#rsvp {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.53'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    margin-top: 0;
    letter-spacing: 1px;
    text-align: center;
    padding: 0 0;
}

#rsvp iframe {
    min-height: 1100px;
    width: 90%;
    margin-top: 1rem;
}



/* FOOTER STYLES*/
footer {
    height: 65px;
    text-align: center;
}

.footer-icon {
    max-height: 20px;
}

footer span {
    padding: 0 .2rem;
    font-size: 1.2rem;
}


/* MEDIA QUERIES */

@media (max-width: 1200px) {
    .flex-row {
        display: flex;
        flex-direction: column !important; ;
        align-items: center;
        justify-content: center;
    }

    footer {
        height: 120px;
    }
}


/* TABLET */
@media (max-width: 800px) {


    /* NAV STYLES */
    nav {
        visibility: hidden;
    }

    /* OUR STORY STYLES */
    .grid-container {
        display: flex;
        flex-direction: column;
        gap: 5%;
    }

    .gallery-image {
        margin-top: 1rem;
        height: auto;
        width: 100%;
    }

    figcaption {
        width: 100%;
    }


    .grid-child-6 {
        order: 4;
    }

    figcaption h4 {
        font-size: 1.2rem;
    }

    /* SCHEDULE STYLES*/
    #schedule {
        height:auto;
        padding-bottom: 6rem;
    }

    #schedule .section-content {
        height: auto;
    }
    #schedule .schedule-container {
        width: 100%;
        height: auto;
        margin-bottom: 2rem;
    }

    .schedule-item {
        width: 400px;
        height: 300px;
    }

    #things-to-do .ul-row {
        flex-direction: column;
        align-items: flex-start;
    }

    /* ACCOMMODATION */
    #accommodation .section-content {
        width: 85%;
    }

    #accommodation p  {
        width: 100%;
    }

    #accommodation img {
        margin: 2rem 0;
    }

    /* FAQ */
    #faq .section-content {
        width: 85%;
    }

    /* FOOTER STYLES */
    footer {
        height: auto;
    }

    footer span:first-child {
        padding: 15px 0 5px 0;
    }


    footer span:last-child {
        padding: 5px 0 15px 0;
    }

}


/* MOBILE */
@media (max-width: 480px) {
    p, li {
        font-size: 1rem;
    }
    /* UTILITY CLASSES */
   .section-content {
       width: 100%;
       padding: 0;
   }

    .section-heading {
        padding-top: 4rem;
    }


    /* LANDING PAGE STYLES */
    .main-heading {
        font-size: 2rem;
        padding: 1rem;
    }

    #landing-page h4 {
        font-size: 1rem;
        /*padding: 1rem .3rem;*/
    }

    /* WELCOME STYLES */
    #welcome h4 {
        margin: 0;
        padding: 0.2rem 0;
    }

    #welcome p {
        margin: 0;
        font-size: 1rem;
    }

    /* OUR STORY STYLES */

    .gallery-image {
        max-width: 100%;
    }
    figcaption {
        max-width: 100%;
    }
    figcaption h4 {
        font-size: 1.2rem;
    }
    #our-story p {
        font-size: 1rem;
    }
    /* SCHEDULE STYLES */
    #schedule {
        padding-bottom: 3rem;
    }

    #schedule .schedule-container {
        width: 100%;
    }

    #schedule .schedule-item {
        height: 380px;
        width: 70%;
        padding: 10px;
    }

    .schedule-item img {
        height: 100px;
        width: 100px;
    }

    .schedule-item h4 {
        max-width: 80%;
    }

    /* VENUE STYLES*/
    #venue .flex-row div {
        width: 90%;
        text-align: center;
    }

    #venue iframe {
        width: 300px;
        height: 420px;
    }

    .venue-text {
        text-align: center;
        font-size: 1rem;
    }

    #venue address {
        font-size: 1.2rem;
    }

    /* ACCOMMODATION STYLES */
    #accommodation .section-content {
        width: 80%;
    }


    /* EXPLORE IOWA STYLES */
    .explore-img {
        display: none;
    }


    /* THINGS TO DO STYLES */
    /*#things-to-do .ul-row {*/
    /*    flex-direction: column;*/
    /*}*/

    /* FAQ STYLES */
    #faq .section-content {
        width: 88%;
    }

    .faq-list {
        padding: 2rem 0 2.5rem 0;
    }

    /* RSVP STYLES */
    #rsvp {
        /*max-height: 1500px;*/
    }

    #rsvp iframe {
        padding: 3rem 1rem;
        width: 100%;
        max-height: 1500px;
    }

    /* FOOTER STYLES */
    footer {
        display: flex;
        flex-direction: column;
        padding: .5rem;
    }

    footer span {
        padding: 0 .2rem;
        font-size: 1.2rem;
    }



}